h1{
    background: #f3d776;
    color: #497bc9;
    text-align: center;
    font-family:"JetBrains Mono";
}
img{
    height: 300px;
    width: 500px;
}
p{
    color: darkgrey;
    background: lightblue;
    font-weight: bold;
}
h2{
    background: #f3d566;
    color: #497bc9;
}
h3{
    background: #efe0b3;
    color: #497bc9;
}
ul{
    background: #efe0b3;
    color: #497bc9;
}